@model EDIS.Models.News

@{
    ViewBag.Title = "刪除/最新消息";
    Layout = "~/Views/Shared/_LayoutNtitle.cshtml";
}
<script src="~/js/NewsCreate.js" asp-append-version="true"></script>

<script>
    function onSuccess(data) {
        var homeHref = '@Url.Action("Index2","News",new { Area=""})'
        $.Toast.hideToast();
        alert("成功刪除");
        $('#btnEditQry').attr('disabled', "true"); //添加disabled属性
        /* window.close(), 當前非彈出視窗在最新版本的chrome和firefox裡不能關閉，而在IE中是可以關閉的 
         * 非彈出視窗，即是指（opener=null 及 非window.open()開啟的視窗,比如URL直接輸入的瀏覽器窗體， 或由其它程式呼叫產生的瀏覽器視窗）
         */
        if (window.opener === null) {
            location.replace(homeHref);
        }
        else {
            window.opener.location = "javascript:BMEDRepAsSubmit();";//This will call ReSubmit() function on parent window.
            //opener.location.reload();//This will refresh parent window.
            window.close();
        }
        
    }

</script>
<h2>刪除</h2>

<h3>您確定要刪除此資料?</h3>

<form asp-action="Delete" data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="$.Toast.showToast({
      'title':'作業進行中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-failure="onFailed"
      data-ajax-success="onSuccess">
    <h4>最新消息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RTT)
        </dd>

    </dl>

    <div class="form-actions no-color">
        <input type="submit" value="確定刪除" class="btn btn-default" /> |
        <input type="button" value="回到列表" class="btn btn-default" onclick="window.close();" />
    </div>
</form>
