@model EDIS.Models.News

@{
    ViewBag.Title = "最新消息";
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
}

<h2>預覽</h2>

<div>
    <h4>最新消息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("建立者")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edate)
        </dd>
    </dl>
</div>

