@model X.PagedList.IPagedList<EDIS.Areas.WebService.Models.PrudoctVModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

<script>
    $(function () {

    });
    function setProdValue(clickedBtn) {
        var $row = $(clickedBtn).parent()     // Moves up from <button> to <td>
            .parent();    // Moves up from <td> to <tr>
        var partNo = $row.find("td:nth-child(1)").text().trim();
        var partName = $row.find("td:nth-child(2)").text().trim(); // Finds the 2nd <td> element
        var unite = $row.find("td:nth-child(3)").text().trim();
        //var price = $row.find("td:nth-child(4)").text().trim();
        $("#PartNo").val(partNo);
        $("#PartName").val(partName);
        $("#Unite").val(unite);
        //$("#Price").val(price);
        /* Close Modal. */
        $("#modalPRODUCT").modal('toggle');
    }
</script>

<table class="table stockListTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PRD_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NAME)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SNM)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SUP1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SUP1_UNI_NO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PRD_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SNM)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUP1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUP1_UNI_NO)
            </td>
            <td>
                <button type="button" class="btn btn-primary" value="@item.PRD_NO" id="setStockBtn" onclick="setProdValue(this)">選擇</button>
            </td>
        </tr>
    }

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("ERPProductList", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>
