@model X.PagedList.IPagedList<EDIS.Models.RepairListVModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using EDIS.Models.Identity

@inject CustomUserManager UserManager
<style>
    /* Style the scale of checkbox. */
    input[class='IsSelected2'], input[name="checkAll2"] {
        -ms-transform: scale(1.5) !important; /* IE */
        -moz-transform: scale(1.5) !important; /* FireFox */
        -webkit-transform: scale(1.5) !important; /* Safari and Chrome */
        -o-transform: scale(1.5) !important; /* Opera */
    }
</style>

<script>
    var url = '@Url.Action("NextFlow", "RepairFlow", new { Area = "BMED" })';
    function closeRepDoc(docId) {
        var r = confirm("是否直接結案?");
        if (r == true) {
            $.Toast.showToast({
                'title': '結案中，請稍待...',
                'icon': 'loading',
                'duration': 0
            });
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    DocId: docId,
                    AssignCls: '同意',
                    FlowCls: '結案',
                    Cls: '驗收人',
                    FlowUid: @UserManager.GetCurrentUserId(User)
                },
                async: true,
                success: function (data) {
                    if (data.success == false) {
                        alert(data.error);
                    } else {
                        alert("此案件已結案!");
                    }
                    $.Toast.hideToast();
                    setTimeout('BMEDRepReSubmit()', 500);
                },
                onFailed: function (data) {
                    alert(data.responseText);
                    $.Toast.hideToast();
                }
            });
        }
    }

    function getRepDocBack(docId, flowCls, userFullName) {
        var r = confirm("確定將此案件拉回?");
        if (r == true) {
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    DocId: docId,
                    AssignCls: '轉單',
                    AssignOpn: '由' + userFullName + '將案件拉回。',
                    FlowCls: '設備工程師',
                    Cls: flowCls,
                    FlowUid: @UserManager.GetCurrentUserId(User)
                },
                async: false,
                success: function (data) {
                    alert("已將案件拉回!");
                    BMEDRepReSubmit();
                },
                onFailed: function (data) {
                    alert(data.responseText);
                }
            });
        }
    }

    function onSuccess2() {
        $.Toast.hideToast();
        alert("已轉送");
        BMEDRepReSubmit();
    }

    $(function () {
        // Default setting
        $("input[class='IsSelected2']").each(function () {
            $(this).prop("checked", false);
        });

        $('input[name="checkAll2"]').change(function () {
            if ($(this).prop("checked")) {
                $("input[class='IsSelected2']").each(function () {
                    $(this).prop("checked", true);
                });
            }
            else {
                $("input[class='IsSelected2']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        var url = '@Url.Action("GetEmpByCls", "Repair", new { Area = "BMED" })';
        $('#AssignCls').change(function () {
            var select = $('#AssignUid');
            $('option', select).remove();
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: "cls=" + $(this).val(),
                success: function (data) {
                    if (data.success === false) {
                        $('#AssignCls').val('請選擇');
                        alert(data.error);
                    }
                    else {
                        var select = $('#AssignUid');
                        var i = 0;
                        var defaultOption = 0;
                        select.empty();
                        $.each(data, function (index, item) {  // item is now an object containing properties
                            if (i === defaultOption) {
                                select.append($('<option selected="selected"></option>').text(item.text).val(item.value));
                            }
                            else {
                                select.append($('<option></option>').text(item.text).val(item.value));
                            }
                            i++;
                        });
                        //
                        select.combobox();
                        select.data('combobox').refresh();
                    }
                }
            });
        });
    });

</script>
<script src="~/js/Rel.js"></script>



@if (Model.Count() <= 0)
{
    <p class="text-danger">無任何資料!</p>

}

else
{
    <form asp-action="AssignDocs" asp-controller="Repair" asp-area="BMED"
          data-ajax="true" data-ajax-update="#BMEDpnlREPLIST" data-ajax-method="POST"
          data-ajax-begin="$.Toast.showToast({
              'title':'作業進行中，請稍待...',
              'icon':'loading',
              'duration':0
              })"
          data-ajax-complete="$.Toast.hideToast()"
          data-ajax-success="onSuccess2()"
          data-ajax-failure="updateFailed">

        <div class="row">
            <div class="form-inline">
                <div class="form-group col-md-8">
                    <label class="control-label col-md-2" style="padding-top:7px;">轉送至：</label>
                    <div class="col-md-3">
                        @Html.DropDownList("AssignCls", null, "選擇關卡", htmlAttributes: new { @class = "form-control", required = "required" })
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" name="AssignUid" id="AssignUid" required>
                            <option value="" disabled>請選擇關卡</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-primary" value="確定送出" />
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th class="col-md-1" style="text-align:center">
                    <input type="checkbox" name="checkAll2" />
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DocType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DocId)<br />
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ApplyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AccDptName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PlaceLoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().TroubleDes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DealState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DealDes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FlowUidName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Days)
                </th>
                <th>
                    文件狀態
                </th>
            </tr>

            @{
                int i = 0;
                var dptid = UserManager.GetCurrentUserDptId(User);
                var uid = UserManager.GetCurrentUserId(User);
                var fname = UserManager.GetUserFullName(User);
                var isEng = UserManager.IsInRole(User, "MedEngineer");
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @Html.Hidden("transData[" + i + "].DocId", item.DocId)
                        @if (item.Flg != "2")
                        {
                            @if (dptid == "7084" || dptid == "8420" ||
                                isEng)
                            {
                                @Html.CheckBox("transData[" + i + "].IsSelected", item.IsSelected, new { @class = "IsSelected2" })
                            }
                        }
                    </td>
                    <td width="100px">
                        @if (item.Flg == "?" && item.FlowUid == uid)
                        {
                            @Html.ActionLink("編輯", "Edit", "Repair", new { Area = "BMED", id = item.DocId }, new { target = "_blank" })
                            @Html.Raw(" |")
                            if (item.FlowCls == "驗收人" && item.IsCharged == "N" && !item.DealState.Contains("報廢"))
                            {
                                <a href="#" onclick="closeRepDoc(@item.DocId)">結案</a>
                                @Html.Raw(" | ")
                            }
                        }
                        else if ((item.Flg == "?" && item.FlowCls.Contains("工程師") && dptid == "7084") ||
                                 (item.Flg == "?" && item.FlowCls.Contains("工程師") && dptid == "8420") ||
                                  item.Flg == "?" && item.FlowCls.Contains("工程師") && isEng) //其他工程師案件
                        {
                            @Html.ActionLink("編輯", "Edit", "Repair", new { Area = "BMED", id = item.DocId }, new { target = "_blank" })
                            @Html.Raw(" |")
                        }
                        else
                        {
                            @Html.ActionLink("預覽", "Views", "Repair", new { Area = "BMED", id = item.DocId }, new { target = "_blank" })
                            @Html.Raw(" |")
                        }
                        @Html.ActionLink("列印", "PrintRepairDoc", "Repair", new { Area = "BMED", DocId = item.DocId }, new { target = "_blank" })
                        @if (item.Flg == "?" && item.FlowUid == uid && item.FlowCls == "申請人")
                        {
                            @Html.Raw(" |")
                            @Html.ActionLink("廢除", "Delete", "Repair", new { Area = "BMED", id = item.DocId })
                        }
                        @if (item.ExFlowCls != null && item.ExFlowUid != null) //搜尋條件為流程中
                        {
                            // 案件的前一個流程為"工程師"且人員為該名使用者才可拉單
                            if (item.ExFlowCls.Contains("工程師") && item.ExFlowUid == uid)
                            {
                                @Html.Raw(" |")
                                <a href="#" onclick="getRepDocBack(@item.DocId, '@item.FlowCls', '@fname')">拉回案件</a>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocId)<br />
                        @Html.DisplayFor(modelItem => item.ApplyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccDptName)
                    </td>
                    <td>
                        @if (item.AssetNo == "99999")
                        {
                            @Html.DisplayFor(modelItem => item.repdata.AssetName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.repdata.AssetNo)
                            <br />
                            @Html.DisplayFor(modelItem => item.repdata.AssetName)
                            <br />
                            @Html.DisplayFor(modelItem => item.Brand)
                            <br />
                            @Html.DisplayFor(modelItem => item.Type)
                            <br />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceLoc)
                    </td>
                    <td style="max-width: 450px;">
                        @Html.DisplayFor(modelItem => item.TroubleDes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DealState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DealDes)
                    </td>
                    <td>
                        @if (dptid == "7084" || dptid == "8420")
                        {
                            @Html.DisplayFor(modelItem => item.Cost)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlowUidName)
                    </td>
                    <td>
                        @if (item.Flg != "2")
                        {
                            @Html.DisplayFor(modelItem => item.Days)
                        }
                    </td>
                    <td>
                        @if (item.Flg == "2")
                        {
                            <span>已結案</span>
                        }
                        else
                        {
                            <span>未結案</span>
                        }
                    </td>
                </tr>
                i++;
            }

        </table>

    </form>
}

<div>
    @Html.PagedListPager(Model,
    page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>