@model IEnumerable<EDIS.Models.DeliveryListVModel>
@using EDIS.Models.Identity;

@inject CustomUserManager UserManager
@inject CustomRoleManager RoleManager

@if (Model.Count() <= 0)
{
    <p class="text-danger">無任何資料!</p>

}
else
{
    <table class="table" style="width: 100%">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DocType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccDptNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrlItemNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
        </tr>
        @{
            int i = 0;
            var s = "#efeeef";
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("查看", "Details", "Delivery", new { id = item.DocId }, new { target = "_blank" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyNam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccDptNam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrlItemNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
            </tr>
            @*<tr>
                    <td colspan="9">
                        <div style="margin-left: 50px">
                            <h3>儀器列表</h3>
                            <div style="padding-left: 20px; color: gray">
                                @Html.Action("BuyEvaluateListItem", "Asset", new { id = item.Docid, upload = "查看" })
                            </div>
                        </div>
                    </td>
                </tr>*@
        }

    </table>
}
