@model EDIS.Models.QryRepListData
@using EDIS.Models.Identity
@using EDIS.Models

@inject CustomUserManager UserManager
@inject ApplicationDbContext _context
@{
    var user = _context.AppUsers.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();
}

<link href="~/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/js/bootstrap-combobox.js"></script>
<script src="~/js/FindInkey.js" asp-append-version="true"></script>

<style>
    /* Style the scale of radio. */
    input[type=radio] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FireFox */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }
    /* Style the scale of checkbox. */
    input[type=checkbox] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FireFox */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }

    .ui-autocomplete {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: solid 1px #ccc;
        background-color: #fff;
        width: auto;
        overflow: scroll;
        overflow-x: hidden;
        height: 100px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        //$('.BMEDcombobox').combobox();
        @*$('#BMEDqtyDateType').autocomplete({
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("QueryAssets","FindInKey")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            key: request.term    //Name欄位輸入的資訊傳給後端
                        },
                        //成功取得資料後用Map來整理回傳的資料
                        success: function (data) {
                            response($.map(data, function (item) {
                                console.log(item); //印出來方便觀看資料的長相
                                return {
                                    // label和value是基本參數
                                    label: item.text,  //列表所顯示的文字
                                    value: item.value, 	//列表選項的值
                                };
                            }));
                        }
                    });
                },
    	        //focus參數事件介紹 : 在下拉選單匹配時如果滑鼠有焦點到會觸發事件
    	        //下方是指當使用者只是焦點到某個選項就將名子帶輸入框中
                focus: function (event, ui) {
                    $(this).val(ui.item.label);
                    return false;
                },
    	        //select參數事件介紹 : 使用者選擇下拉式某項目後觸發事件
    	        //當使用者選擇某項目後自動將所有的值帶進輸入框中
                select: function (event, ui) {
                    $(this).val(ui.item.val);
                    return false;
                },
                delay: 1000
        });*@

        $("#BMEDrepSearchForm").submit();
        /* Only first visit the page, will submit the form. */
        var count = 0;
        $('.nav-tabs a[href="#menu1"]').on('shown.bs.tab', function (event) {
            if (count == 0) {
                $("#BMEDrepSearchForm").submit();
                count++;
            };
        });

        $("#BMEDexportExcelBtn").click(function () {
            var DocId = $("#BMEDqtyDOCID").val();
            var AssetNo = $("#BMEDqtyASSETNO").val();
            var AccDpt = $("#BMEDqtyACCDPT").val();
            var AssetName = $("#BMEDqtyASSETNAME").val();
            var FlowType = $("#BMEDqtyFLOWTYPE").val();
            var DptId = $("#BMEDqtyDPTID").val();;
            var Date1 = $("#BMEDqtyApplyDateFrom").val();
            var Date2 = $("#BMEDqtyApplyDateTo").val();
            var DealStatus = $("#BMEDqtyDealStatus").val();
            var IsCharged = $("#BMEDqtyIsCharged").val();
            var DateType = $("#BMEDqtyDateType").val();
            var SearchAllDoc = false;
            var EngCode = $("#BMEDqtyEngCode").val();
            var TicketNo = $("#BMEDqtyTicketNo").val();
            var Vendor = $("#BMEDqtyVendor").val();
            var ClsUser = $("#ClsUsers").val();
            var Loc = $('#BMEDqtyLoc').val();
            if ($("#BMEDqtySearchAllDoc").is(':checked') == true) {
                SearchAllDoc = true;
            }
            $.Toast.showToast({
                'title': '作業進行中，請稍待...',
                'icon': 'loading',
                'duration': 0
            })

            $.ajax({
                url: "@Url.Action("ExportToExcel", "Repair", new { Area = "BMED" })",
                data: {
                    qtyDocId: DocId,
                    qtyAssetNo: AssetNo,
                    qtyAccDpt: AccDpt,
                    qtyAssetName: AssetName,
                    qtyFlowType: FlowType,
                    qtyDptId: DptId,
                    Date1: Date1,
                    Date2: Date2,
                    DealStatus: DealStatus,
                    IsCharged: IsCharged,
                    DateType: DateType,
                    SearchAllDoc: SearchAllDoc,
                    EngCode: EngCode,
                    TicketNo: TicketNo,
                    Vendor: Vendor,
                    Loc: Loc,
                    ClsUser: ClsUser
                }
                @*success: function (response, textStatus, jqXHR) {

                    window.location.href = '@Url.Action("ExportToExcel", "Repair", new { Area = "BMED" })' + '?qtyDocId=' + DocId + '&qtyAssetNo=' + AssetNo
                        + '&qtyAccDpt=' + AccDpt + '&qtyAssetName=' + AssetName + '&qtyFlowType=' + FlowType + '&qtyDptId=' + DptId
                        + '&Date1=' + Date1 + '&Date2=' + Date2 + '&DealStatus=' + DealStatus + '&IsCharged=' + IsCharged
                        + '&DateType=' + DateType + '&SearchAllDoc=' + SearchAllDoc + '&EngCode=' + EngCode + '&TicketNo=' + TicketNo + '&Vendor=' + Vendor;
                    $.Toast.hideToast();
                },
                error: function (xhr, status, error) {
                    $.Toast.hideToast();
                    alert(error);
                }*@
            }).done(function (data) {
                $.Toast.hideToast();
               //接收返回的檔案路徑，此檔案這時已儲存到伺服器上了
               if (data.fileName != "") {
                  //通過呼叫 window.location.href 直接跳轉到下載 action 進行檔案下載操作
                  window.location.href = "@Url.RouteUrl(new { Controller = "Excels", Action = "Download"})/?file=" + data.fileName;
                }
            });
        });
         $("#BMEDqtySearchAllDoc").click(function () {
            if ($(this).is(':checked') == true) {
                $('#BMEDqtyFLOWTYPE option[value=請選擇]').attr('selected', 'selected');
            }
         });
        
    });
    function BMEDRepReSubmit() {
        /* Refresh repair form. */
        var strArray = window.location.href.split("/");
        var strArray2 = strArray[strArray.length - 1].split("#");
        var page = strArray2[strArray2.length - 1];
        fetchPageREP(page);
        /* Refresh repair count. */
        $.ajax({
            url: '@Url.Action("GetRepairCounts", "Repair", new { Area = "BMED" })',
            type: "GET",
            success: function (data) {
                $("#BMEDrepCount").html(data);
            }
        });
    }

    // Use ajax to fetch page.
    var fetchPageREP = function (page) {
        var pagedPartialUrl = '@Url.Action("Index", "Repair", new { Area = "BMED" })';
        var s = $('#BMEDrepSearchForm').serialize();
        $.Toast.showToast({
            'title': '作業進行中，請稍待...',
            'icon': 'loading',
            'duration': 0
        })
        $.ajax({
            url:pagedPartialUrl,
            type: "POST",
            data: s + "&page=" + page,
            success: function (data) {

                window.location.hash = page;

                $('#BMEDpnlREPLIST').html(data);

                $('#BMEDpnlREPLIST .pagination li a').each(function (i, item) {
                    var hyperLinkUrl = $(item).attr('href');
                    if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                        var pageNumber = $(item).attr('href').replace(pagedPartialUrl + '?page=', '');
                        $(item).attr('href', '#').click(function (event) {
                            event.preventDefault();
                            $(event.target).attr('href');
                            fetchPageREP(pageNumber);
                        });
                    }
                });
                $.Toast.hideToast();
            },
            error: function (data) {
                alert(data.responseText);
                $.Toast.hideToast();
            }
        });

    };
       
</script>


<form asp-controller="Repair" asp-action="Index" asp-area="BMED" data-ajax="true"
      data-ajax-update="#BMEDpnlREPLIST" data-ajax-method="POST" id="BMEDrepSearchForm"
      data-ajax-begin="$.Toast.showToast({
      'title':'查詢中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-complete="$.Toast.hideToast()"
      data-ajax-failure="onFailed" class="overfind">

    <h4>查詢條件 - 個人案件</h4>

    <div class="container">
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyDOCID" class="control-title">表單編號</label>
                    <input asp-for="BMEDqtyDOCID" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyASSETNO" class="control-title">財產編號</label>
                    <input asp-for="BMEDqtyASSETNO" class="form-control-s" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyACCDPT" class="control-title">成本中心</label>
                    @*<select asp-for="BMEDqtyACCDPT" asp-items="@ViewData["BMEDAccDpt"] as SelectList" class="form-control BMEDcombobox">
                            <option value="">請選擇</option>
                        </select>*@
                    @*<input asp-for="BMEDqtyACCDPT" id="ACCDPT" class="form-control"  type="text">*@

                    <input type="text" placeholder="輸入成本中心代號查詢" class="form-control" id="AssetAccDptQry" />
                    <button type="button" class="btn btn-default" id="AssetQryBtn" data-request-url="@Url.Action("QueryAssets", "FindInKey")">查詢</button>
                    <select asp-for="BMEDqtyACCDPT" asp-items="@ViewData["DefaultAssets"] as SelectList" class="form-control" id="AssetNo">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span style="color:red" id="AssetNoErrorMsg"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyASSETNAME" class="control-title">設備名稱<br />(關鍵字)</label>
                    <input asp-for="BMEDqtyASSETNAME" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyFLOWTYPE" class="control-title">流程狀態</label>
                    <select asp-for="BMEDqtyFLOWTYPE" asp-items="@ViewData["BMEDFlowType"] as SelectList" class="form-control-s"></select>
                </div>
                <div class="form-group">
                    <label for="BMEDqtyDPTID" class="control-title">申請部門</label>
                    @*<select asp-for="BMEDqtyDPTID" asp-items="@ViewData["BMEDApplyDpt"] as SelectList" class="form-control BMEDcombobox">
                            <option value="">請選擇</option>
                        </select>*@
                    <input type="text" placeholder="輸入部門代號查詢" class="form-control" id="ApplyDptQry" />
                    @*@Html.TextBoxFor(model => model.BMEDqtyDateType,htmlAttributes: new { @class="form-control",@placeholder="輸入部門代號查詢"})*@
                    <button type="button" class="btn btn-default" id="ApplyDptQryBtn" data-request-url="@Url.Action("QueryAssets", "FindInKey")">查詢</button>
                    <select asp-for="BMEDqtyDPTID" asp-items="@ViewData["BMEDApplyDpt"] as SelectList" class="form-control" id="ApplyDpt">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span style="color:red" id="ApplyDptErrorMsg"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyDealStatus" class="control-title">處理狀態</label>
                    <select asp-for="BMEDqtyDealStatus" asp-items="@ViewData["BMEDDealStatus"] as SelectList" class="form-control">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <label for="BMEDqtyIsCharged" class="control-title">[有][無]費用</label>
                <select asp-for="BMEDqtyIsCharged" asp-items="@ViewData["BMEDIsCharged"] as SelectList" class="form-control-s">
                    <option value="">請選擇</option>
                </select>
                <div class="form-group">
                    <label for="BMEDqtyEngCode" class="control-title">負責工程師</label>
                    @*<select asp-for="BMEDqtyEngCode" asp-items="@ViewData["BMEDEngs"] as SelectList" class="form-control BMEDcombobox">
                            <option value="">請選擇</option>
                        </select>*@
                    <input type="text" placeholder="輸入工程師代號查詢" class="form-control" id="EngCodeQry" />
                    <button type="button" class="btn btn-default" id="EngCodeQryBtn" data-request-url="@Url.Action("QueryEngCode", "FindInKey")">查詢</button>
                    <select asp-for="BMEDqtyEngCode" asp-items="@ViewData["BMEDEngs"] as SelectList" class="form-control" id="EngCode">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span style="color:red" id="EngCodeErrorMsg"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="BMEDqtyTicketNo" class="control-title">發票號碼</label>
                    <input asp-for="BMEDqtyTicketNo" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyVendor" class="control-title">廠商(關鍵字)</label>
                    <input asp-for="BMEDqtyVendor" class="form-control-s" />
                </div>
                <div class="form-group">
                    <label for="BMEDqtyClsUser" class="control-title">目前關卡人員</label>
                    @*<select asp-for="BMEDqtyClsUser" asp-items="@ViewData["BMEDClsUsers"] as SelectList" class="form-control BMEDcombobox">
                            <option value="">請選擇</option>
                        </select>*@
                    <input type="text" placeholder="輸入員工代號查詢" class="form-control" id="ClsUserDptQry" />
                    <button type="button" class="btn btn-default" id="ClsUserQryBtn" data-request-url="@Url.Action("QueryClsUser", "FindInKey")">查詢</button>
                    <select asp-for="BMEDqtyClsUser" asp-items="@ViewData["BMEDClsUsers"] as SelectList" class="form-control" id="ClsUsers">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span style="color:red" id="ClsUserNoErrorMsg"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                @if (UserManager.IsInRole(User, "MedAssetMgr"))
                {

                    <div class="form-group">
                        <label for="BMEDqtyLoc" class="control-title">院區</label>
                        <select asp-for="BMEDqtyLoc" asp-items="@ViewData["Location"] as SelectList" class="form-control">
                            <option value="">請選擇</option>
                        </select>
                    </div>
                }
                @if (user.DptId == "8420" || user.DptId == "7084" ||
                        UserManager.IsInRole(User, "MedEngineer")) /* Only MedEngineer can search all engineer docs. */
                {


                    <div class="form-group">
                        <label class="control-title">查詢所有<br />工程師案件</label>
                        <input type="checkbox" asp-for="BMEDqtySearchAllDoc" name="BMEDqtySearchAllDoc" style="margin: 7px 0px 0px 7px;" />
                    </div>


                }

            </div>
        </div>
                <div class="row">
                    <div class=form-inline>
                        <div class="form-group">
                            <label for="qtyApplyDateFrom" class="control-title">日期查詢</label>
                            <span>
                                <select asp-for="BMEDqtyDateType" asp-items="@ViewData["BMEDDateType"] as SelectList" class="form-control-s"></select>
                            </span>
                            <input asp-for="BMEDqtyApplyDateFrom" class="form-control" />
                            <span> ~ </span>
                            <input asp-for="BMEDqtyApplyDateTo" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=form-inline>
                        <div class="form-group col-md-offset-1 col-md-1">
                            <div>
                                <input id="BMEDbtnQTY" type="submit" value="查詢" class="btn btn-default btn-group-justified" />
                            </div>
                        </div>
                        <div class="form-group"  style="padding-left:50px;">
                            <div>
                                <input type="button" class="btn btn-primary" id="BMEDexportExcelBtn" value="匯出Excel" />
                            </div>
                        </div>
                    </div>
                </div>
           
    </div>
</form>

<div id="BMEDpnlREPLIST"></div>


@*@if (UserManager.IsInRole(User, "MedAssetMgr"))
    {
        <hr />
        <h4>未分派案件</h4>
        <br />
        <div id="unsignListDiv">
            @await Component.InvokeAsync("BMEDRepResign", new { role = "MedAssetMgr" })
        </div>
    }
    else if (UserManager.IsInRole(User, "MedBranchMgr"))
    {
        <hr />
        <h4>未分派案件</h4>
        <br />
        <div id="unsignListDiv">
            @await Component.InvokeAsync("BMEDRepResign", new { role = "MedBranchMgr" })
        </div>
    }
    else if (UserManager.IsInRole(User, "Admin"))
    {
        <hr />
        <h4>未分派案件</h4>
        <br />
        <div id="unsignListDiv">
            @await Component.InvokeAsync("BMEDRepResign", new { role = "Admin" })
        </div>
    }*@
