@model EDIS.Models.BudgetModel

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>確定要刪除此項目?</h3>
<fieldset>
    <h4>預算</h4>
    <hr />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlantName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlantName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccDpt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccDpt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EngName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EngName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BuyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuyId)
    </div>
</fieldset>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(model => model.DocId)
    <div>
        <input class="btn btn-default" type="submit" value="確定刪除" /> |
        <a href='@Url.Action("Index", "Budget", new { Area = "BMED" })'>回到列表</a>
    </div>
</form>
