@model EDIS.Models.Question
    
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.QID)
        @Html.HiddenFor(model => model.Typ)
        @Html.HiddenFor(model => model.Required)
    <div style="margin-top:40px">
        <h3 class="control-label col-md-2" style="width:18%">
            @Model.QuestionText
            @if (Model.Required == "Y")
             {
                    <span style="color:red">*</span>
             }
            </h3>
        @if (Model.Typ == "select")
            {
            <table style="border: 1px solid lightgray">
                <tr>
                    <td>很不滿意</td>
                    @foreach (var a in Model.Answers)
                     {
                                <td>
                                    @Html.RadioButtonFor(model => model.SelectedAnswer, a.ID)  @a.AnswerText
                                </td>
                     }
                    <td>很滿意</td>
                </tr>
            </table>
            }
            else if (Model.Typ == "text")
            {
                <div>
                    @Html.TextAreaFor(model => model.SelectedAnswer, new { style = "width: 475px; height: 100px;" })
                    
                </div>
            }

    </div>
   
