@model EDIS.Models.BuyFlowModel

<style>
    .borderless td, .borderless th, .borderless tr {
        border: none !important;
    }
</style>




<form asp-action="NextFlow" asp-controller="BuyFlow" asp-area="BMED" method="post"
    data-ajax="true" data-ajax-method="POST" id="fmFLOW"
    data-ajax-begin="$.Toast.showToast({
    'title':'作業進行中，請稍待...',
    'icon':'loading',
    'duration':0
    })"
    data-ajax-complete="$.Toast.hideToast()"
    data-ajax-success="flowmsg" data-ajax-failure="onFailed">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(modal => modal.DocId)

    <h2>關卡設定</h2>
    <table style="width: 100%;" class="table borderless">
        @if (Model.FlowHint != null)
        {
            <tr>
                <td class="head">
                    <div class="editor-label">
                        <label asp-for="FlowHint" class="control-title"></label>
                    </div>
                </td>
                <td>
                    <div style="font-weight: bold;">
                        @Html.DisplayFor(model => model.FlowHint)
                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td class="head">
                    <div class="editor-label">
                        <label asp-for="FlowHint" class="control-title"></label>
                    </div>
                </td>
                <td>
                    <div style="color:orange;">
                        採購起案(嘉佩)→設備工程師開立規格→(聯網系统設備需經過資訊工程師)→設備主管審核→採購評估收紙本→設備工程師評核表議
                        價規範(聯網系統設備需經過資訊工程師)→設備主管審核→設備經辦結案
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td class="head">
                <div class="editor-label">
                    <label asp-for="Opinions" class="control-title"></label>
                </div>
            </td>
            <td>
                <div>
                    @Html.RadioButtonFor(model => model.SelOpin, "同意")同意
                    @Html.RadioButtonFor(model => model.SelOpin, "不同意")不同意
                    @Html.RadioButtonFor(model => model.SelOpin, "其他")其他
                </div>
                <div class="editor-field form-inline">
                    <textarea asp-for="Opinions" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Opinions" class="text-danger"></span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="head">
                <div class="editor-label">
                    <label asp-for="Cls" class="control-title"></label>
                </div>
            </td>
            <td>
                <div class="form-inline">
                    <select asp-for="Cls" asp-items="@ViewData["Item"] as SelectList" class="form-control" id="SelectCls">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span asp-validation-for="Cls" class="text-danger"></span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="head">
                <div class="editor-label">
                    <label asp-for="UserId" class="control-title"></label>
                </div>
            </td>
            <td id="FirstUserId">
                <div class="form-inline">
                    <select asp-for="UserId" asp-items="@ViewData["Item2"] as SelectList" class="form-control" id="SelectEng">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </td>
            <td id="FidenUserId">
                <div class="form-inline">
                    <span asp-validation-for="UserId" class="text-danger"></span>
                    <div class="form-group">
                        <input type="text" placeholder="輸入關鍵字或員工代碼查詢" class="form-control" id="UserIdQry" />
                        <button type="button" class="btn btn-default" id="UserIdQryBtn" data-request-url="@Url.Action("GetToNameByKeyname", "UseUnitFind",new { Area ="FORMS"})">查詢</button>
                        <select asp-for="UserId" asp-items="@ViewData["Item2"] as SelectList" class="form-control" style="width: auto">
                            <option disabled selected>請選擇</option>
                        </select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                        <span style="color:red" id="UserIdNoErrorMsg"></span>
                    </div>
                </div>
            </td>
        </tr>

    </table>
    <div>
        <input id="btnSEND" type="submit" class="btn btn-primary" value="確定送出" />
        <img class="test" id="imgLOADING_flow" src="~/Images/opc-ajax-loader.gif" style="display: none" />
    </div>

</form>

<script>
    $('#FidenUserId').hide();
</script>