@model EDIS.Models.News

<h2>預覽</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("建立者")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edate)
        </dd>
    </dl>
</div>

