    @model EDIS.Areas.FORMS.Models.Instrument

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewBag.Title = "Create";
}


<style>
    .col-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
</style>



<div>
    <div id="pnlFILES"></div>
</div>
<hr />


<h2>申請單</h2>

<h4>外部醫療儀器使用</h4>
<hr />

<form asp-action="Create" asp-controller="OutsideBmed" asp-area="FORMS" data-ajax="true" data-ajax-method="POST"
      data-ajax-begin="$.Toast.showToast({
            'title':'建立表單中，請稍待...',
            'icon':'loading',
            'duration':0
            })"
       data-ajax-failure="onFailed"
      data-ajax-success="onSuccess()"
      style="overflow:scroll;overflow-y:hidden ;overflow-x:scroll"
      >

    @Html.AntiForgeryToken()
    <div class="container">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.ApplyDate)
        <div class="form-group">
            <label class="control-label col">
                基本資料
            </label>
        </div>
        <div class="row">
            <div class="form-inline">
                <div class="form-group">
                    <label asp-for="DocId" class="control-title"></label>
                    <input asp-for="DocId" class="form-control" />
                    <span asp-validation-for="DocId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-title"></label>
                    <input asp-for="UserId" class="form-control" readonly="readonly"/>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-title"></label>
                    <input asp-for="UserName" class="form-control" readonly="readonly"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-inline">
                
                <div class="form-group">
                    <label asp-for="Ext" class="control-title"></label>
                    <input asp-for="Ext" class="form-control" />
                    <span asp-validation-for="Ext" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-title"></label>

                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Model" class="control-title"></label>

                    <input asp-for="Model" class="form-control " />
                    <span asp-validation-for="Model" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-inline">
                <div class="form-group">
                    <label asp-for="Serial" class="control-title"></label>

                    <input asp-for="Serial" class="form-control" />
                    <span asp-validation-for="Serial" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Label" class="control-title"></label>

                    <input asp-for="Label" class="form-control" />
                    <span asp-validation-for="Label" class="text-danger"></span>

                </div>
                
                <div class="form-group">
                    <label asp-for="FlowCls" class="control-title"></label>
                    <input asp-for="FlowCls" class="form-control" readonly="readonly" />
                    <span asp-validation-for="FlowCls" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-inline">
                <div class="form-group">
                    <label asp-for="UseUnit" class="control-title"></label>
                    <input type="text" placeholder="輸入關鍵字或部門代碼查詢" class="form-control" id="UseUnitQry" />
                    <button type="button" class="btn btn-default" id="UseUnitQryBtn" data-request-url="@Url.Action("GetRoleByKeyname", "UseUnitFind")">查詢</button>
                    <select asp-for="UseUnit" asp-items="@ViewData["UseUnit"] as SelectList" class="form-control" style="width:auto">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span asp-validation-for="UseUnit" class="text-danger"></span>
                    <span style="color:red" id="UseUnitNoErrorMsg"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-title">申請單位主管</label>
                    <input type="text" placeholder="輸入關鍵字或員工代碼查詢" class="form-control" id="ToUserIdQry" />
                    <button type="button" class="btn btn-default" id="ToUserIdQryBtn">查詢</button>
                    <select asp-for="ToUserId" asp-items="@ViewData["ToUserId"] as SelectList" class="form-control" style="width: auto">
                        <option disabled selected>請選擇</option>
                    </select>
                    <span asp-validation-for="ToUserId" class="text-danger"></span>
                    <span style="color:red" id="ToUserIdNoErrorMsg"></span>


                </div>

            </div>
        </div>


        <br />

        <div class="form-group">
            <label asp-for="Application" class="control-label col"></label>
            <ul id="btn" class="col-auto " style="list-style-type:none">
                <li>
                    @Html.RadioButtonFor(model => model.Application, "單位試用", new { @checked = "checked" })單位試用(審核內容:1~5)
                </li>
                <li>
                    @Html.RadioButtonFor(model => model.Application, "臨床試驗")臨床試驗(審核內容:1~5)
                    <div id="ClinicalTrials">
                        <div class="row">
                            <div class="form-inline">
                                <div class="form-group" style="padding-left:14px;">
                                    @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-auto">
                                        @Html.EditorFor(model => model.ProjectId, new { htmlAttributes = new { @class = "form-control col-8" } })
                                        @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:138px">
                                    @Html.LabelFor(model => model.IRB_NO, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-auto">
                                        @Html.EditorFor(model => model.IRB_NO, new { htmlAttributes = new { @class = "form-control col-8" } })
                                        @Html.ValidationMessageFor(model => model.IRB_NO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:138px">
                                    @Html.LabelFor(model => model.TrialHost, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-auto">
                                        @Html.EditorFor(model => model.TrialHost, new { htmlAttributes = new { @class = "form-control col-8" } })
                                        @Html.ValidationMessageFor(model => model.TrialHost, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    @Html.RadioButtonFor(model => model.Application, "購入耗材")購入耗材,廠商提供設備或廠商借用、Demo儀器(審核內容:1~5)
                </li>
                <li>
                    @Html.RadioButtonFor(model => model.Application, "患者自帶")患者自帶(審核內容6)
                    <div id="PatientBring">
                        <div>
                            <span class="col" style="color:blue;padding-left:0;">✯患者自帶設備免填</span>
                        </div>
                        <div class="row">
                            <div class="form-inline">
                                <div class="form-group" style="padding-left:14px;">
                                    @Html.LabelFor(model => model.Vendor, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-auto">
                                        @Html.EditorFor(model => model.Vendor, new { htmlAttributes = new { @class = "form-control col-8" } })
                                        @Html.ValidationMessageFor(model => model.Vendor, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:138px">
                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-auto">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control col-8" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:138px">
                                    @Html.LabelFor(model => model.Personnel, htmlAttributes: new { @class = "control-label" })
                                    <div class="col-auto">

                                        <input asp-for="Personnel" class="form-control" />
                                        <span asp-validation-for="Personnel" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                @Html.ValidationMessageFor(model => model.Application, "", new { @class = "text-danger" })
            </ul>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            <div class="col-auto">
                @Html.TextAreaFor(model => model.Description, 3, 20, new { @class = "form-control", @style = "width:300px" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col" })
            <div id="ContentFile">
                <span style="color:red;">(選項擇一)</span>
                <div class="col-auto">
                    @Html.RadioButtonFor(model => model.Content, "經衛生福利部醫療器材許可證")經衛生福利部醫療器材許可證(影本)
                    <div id="license">
                        <input id="btnFILES" type="button" value="夾帶附件檔案" class="btn  btn-primary" data-toggle="modal" data-target="#modalFILES">
                    </div>
                    <br />@Html.RadioButtonFor(model => model.Content, "貨品進口同意書")貨品進口同意書(影本，經衛生福利部核准)
                    <div id="Consent">
                        <input id="btnFILES" type="button" value="夾帶附件檔案" class="btn  btn-primary" data-toggle="modal" data-target="#modalFILES">
                    </div>
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    <br /><span>❃</span><span>特殊水、電、氣的需求,請提供資料(須會工務部)</span>
                    <br /><span>❃</span><span>為游離輻射設備(須會輻安室)</span>
                    <br /><span>❃</span><span>儀器保養表,試用一個月以上,須至醫工部拿取保養貼紙於機器上,並提供保養週期與保養紀錄於醫工存查</span>
                </div>
            </div>
            <div id="ContentFile2">
                <div class="col-auto">
                    <span>❃</span><span>患者自帶之設備,工程師做安全性檢查後,始可使用(可檢查時段為8:00~1730,但CPAP呼吸器的檢查時間不受限):</span>
                    <div style="padding-left:10px">
                        <span>1-1</span> <span>電線接頭無破損</span>
                        <br /><span>1-2</span> <span>電線無破損裸露</span>
                        <br /><span>1-3</span> <span>機器外觀無破損</span>
                        <br /><span>1-4</span> <span>檢測無符合上述需求,儀器不可使用</span>
                    </div>
                </div>
            </div>
        </div>

            <div class="form-group">
                <label for="qryBuyDayFrom" class="control-title col searchLabel">使用期間</label>
                <div class="col-auto form-inline">

                    @Html.EditorFor(model => model.UseDayFrom, new { htmlAttributes = new { @class = "form-control", @type = "date", onChange = "Days()" } })
                    @Html.ValidationMessageFor(model => model.UseDayFrom, "", new { @class = "text-danger" })

                    <span>&nbsp;~&nbsp;</span>

                    @Html.EditorFor(model => model.UseDayTo, new { htmlAttributes = new { @class = "form-control", @type = "date", onChange = "Days()" } })
                    @Html.ValidationMessageFor(model => model.UseDayTo, "", new { @class = "text-danger" })

                    <span>&nbsp;&nbsp;共</span>

                    @Html.EditorFor(model => model.Day, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:50px;" } })
                    @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })

                    <span>&nbsp;天</span>
                </div>

            </div>

            <div class="col-auto">
                <div>
                    <input type="submit" value="確定送出" class="btn btn-primary" id="btnGO" />
                </div>
            </div>
        </div>
</form>


<div id="modalFILES" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">選擇上傳檔案</h4>
            </div>
            <div class="modal-body">
                @await Component.InvokeAsync("FORMSAttainFileUpload", new { doctype = "6", docid = Model.DocId, viewType = "AjaxView" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
    $("#ContentFile2").hide();
    $("#PatientBring").show();
    document.getElementById("Vendor").required = true;
    document.getElementById("Phone").required = true;
    document.getElementById("Personnel").required = true;
    $("#ClinicalTrials").hide();
    $("#license").hide();
    $("#Consent").hide();
        var onFailed = function (data) {
           
            alert(data.responseText);
            $.Toast.hideToast();
        };
    var url = '@Url.Content("~/Home/Index")';
        function onSuccess() {
            document.getElementById('btnGO').disabled = true;
        $.Toast.hideToast();
        alert('表單建立成功');
        location.href = '../../Home/Index';
    };
    function onError(data) {
        document.getElementById('btnGO').disabled = false;
        alert(data.responseText);
        $.Toast.hideToast();

    };
    </script>
    <script src="~/js/FORMS/OutsideBmedCreate.js" asp-append-version="true"></script>
    <script src="~/js/FORMS/Create.js" asp-append-version="true"></script>
    @*<script src="~/Scripts/File/FileUpload.js"></script>*@
    @*<script src="~/Scripts/MedEue/Create.js"></script>*@

}