
@model EDIS.Areas.FORMS.Models.Instrument


@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewBag.Title = "廢除 | 外部醫療儀器使用申請單";
}

<h2>廢除</h2>

<h3>您確定要廢除此申請單?</h3>
<div>
    <h4>外部醫療儀器使用申請單</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IRB_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IRB_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrialHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrialHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Application)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseDayFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseDayFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseDayTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseDayTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
        <div style="text-align:center;">
            <a class="btn btn-default" href="@Url.Action("Index", "Home", new { Area = "" } )" id="homeBtn">回到簽核列表</a>
            <input type="submit" value="確定廢除" class="btn btn-default"  />
        </div>
    }
</div>

