@{
    ViewBag.Title = "外部醫療儀器申請單";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>查詢</h2>
    </div>
</div>

<div>
    <div class="card">

        <div class="card-header">查詢條件</div>

        <div class="card-body">
            @using (Ajax.BeginForm("QryData", "OutsideBmed",
            new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "pnlDATALIST"}))
            {
                <div class="row">
                    <div class="col-4">
                        @Html.Label("Name", "品名", new { @class = "control-label col" })
                        <div class="col-auto">
                            @Html.TextBox("Name", null, new { @class = "form-control col-6", placeholder = "請輸入關鍵字" })
                        </div>
                    </div>
                    <div class="col-4">
                        @Html.Label("Model", "型號", new { @class = "control-label col" })
                        <div class="col-auto">
                            @Html.TextBox("Model", null, new { @class = "form-control col-6", placeholder = "請輸入關鍵字" })
                        </div>
                    </div>
                    <div class="col-4">
                        @Html.Label("Serial", "序號", new { @class = "control-label col" })
                        <div class="col-auto">
                            @Html.TextBox("Serial", null, new { @class = "form-control col-6", placeholder = "請輸入關鍵字" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        @Html.Label("Label", "廠牌", new { @class = "control-label col" })
                        <div class="col-auto">
                            @Html.TextBox("Label", null, new { @class = "form-control col-6", placeholder = "請輸入關鍵字" })
                        </div>
                    </div>
                    <div class="col-4">
                        @Html.Label("UseUnit", "使用部門", new { @class = "control-label col" })
                        <div class="col-auto">
                            <div class="form-inline">
                                @Html.TextBox("UseUnitName", null, new { @class = "form-control col-6", placeholder = "部門關鍵字" })
                                <input id="btnQuid" type="button" value="查詢" class="btn btn-default" />
                                @Html.DropDownList("UseUnit", null, "請選擇", new { @class = "form-control", @style = "width:auto;" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    @Html.Label("Sdate", "使用日期", new { @class = "control-label col" })
                    <div class="form-inline col-auto">
                        @Html.Editor("Sdate", "DateTime", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        <span>&nbsp;~&nbsp;</span>
                        <label for="Edate" class="sr-only"></label>
                        @Html.Editor("Edate", "DateTime", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    </div>
                </div>

                <div class="col-auto">
                    <button id="btnQry" class="btn btn-white ml-4 mt-3" type="submit">查詢</button>
                </div>

            }
        </div>

    </div>

</div>
<div id="pnlDATALIST">
    @Html.Action("QryDataList")
</div>

@section Scripts {
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
    <script src="~/Scripts/MedEue/SignDataEdit.js"></script>
    <script src="~/Scripts/MedEue/QryData.js"></script>
}
