@model EDIS.Models.AssetModel

@using EDIS.Models.Identity
@inject CustomUserManager UserManager
@inject ApplicationDbContext _context
@{
    var userDpt = "";
    var ur = _context.AppUsers.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();
    if (ur != null)
    {
        userDpt = ur.DptId;
    }
}

<table class="table table-bordered">
    <tr style="text-align:center;border-bottom: solid 2px; border-top: solid 2px;">
        <td colspan="6">
            <h4>儀器基本資料</h4>
        </td>
    </tr>
    <tr>
        <td>中文名稱</td>
        <td>@Model.Cname</td>
        <td>財產編號</td>
        <td>@Model.AssetNo</td>
        <td>型    號</td>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <td>英文名稱</td>
        <td>@Model.Ename</td>
        <td>代理商</td>
        <td>@Model.VendorId</td>
        <td>廠    牌</td>
        <td>@Model.Brand</td>
    </tr>
    <tr>
        <td>成本中心</td>
        <td>@Model.AccDpt @Model.AccDptName</td>
        <td>財產立帳日</td>
        <td>@Model.AccDate</td>
        <td>取得金額</td>
        @if (userDpt == "8420") //醫工部與相關人員才顯示設備取得金額
        {
            <td>@Model.Cost</td>
        }
        else if (UserManager.IsInRole(User, "Admin") || UserManager.IsInRole(User, "MedAdmin") ||
                UserManager.IsInRole(User, "MedEngineer") || UserManager.IsInRole(User, "MedAssetMgr") ||
                UserManager.IsInRole(User, "MedMgr") || UserManager.IsInRole(User, "MedDirector") ||
                UserManager.IsInRole(User, "MedToDo"))
        {
            <td>@Model.Cost</td>
        }
        else
        {
            <td>******</td>
        }
    </tr>
    <tr>
        <td>取得日期</td>
        <td>@Html.Raw(Model.BuyDate == null ? "" : Model.BuyDate.Value.ToString("yyyy/MM/dd"))</td>
        <td>耐用年限</td>
        <td>@Html.Raw(Model.UseLife == null ? "" : Model.UseLife.Value.ToString())</td>
    </tr>
</table>

