@model EDIS.Models.AssetAnalysis

@using EDIS.Models.Identity
@inject CustomUserManager UserManager
@inject ApplicationDbContext _context
@{
    Layout = null;
    var userDpt = "";
    var ur = _context.AppUsers.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();
    if (ur != null)
    {
        userDpt = ur.DptId;
    }
}

<div>
    <h4>總計</h4>
</div>
<table class="table table-bordered">
    <tr>
        <td>維修時數</td>
        <td>@Model.RepairHour</td>
        <td>保養時數</td>
        <td>@Model.KeepHour</td>
    </tr>
    @if (userDpt == "8420") //醫工部與相關人員才顯示金額
    {
        <tr>
            <td>維修金額</td>
            <td>@Model.RepCost</td>
            <td>保養金額</td>
            <td>@Model.KeepCost</td>
        </tr>
    }
    else if (UserManager.IsInRole(User, "Admin") || UserManager.IsInRole(User, "MedAdmin") ||
            UserManager.IsInRole(User, "MedEngineer") || UserManager.IsInRole(User, "MedAssetMgr") ||
            UserManager.IsInRole(User, "MedMgr") || UserManager.IsInRole(User, "MedDirector") ||
            UserManager.IsInRole(User, "MedToDo"))
    {
        <tr>
            <td>維修金額</td>
            <td>@Model.RepCost</td>
            <td>保養金額</td>
            <td>@Model.KeepCost</td>
        </tr>
    }
    <tr>
        <td>妥 善 率</td>
        <td>@Model.ProperRate</td>
        <td>維 修 比</td>
        @if (@Model.RepRatio.CompareTo(50m) > 0)
        {
            <td style="color:red;">@Model.RepRatio</td>
        }
        else
        {
            <td>@Model.RepRatio</td>
        }

    </tr>
</table>
<span>**妥善率 = 總和日數(完工日-申請日)/查詢日期區間日數。</span>
<span>**維修比 = 維修總金額/取得金額。當超過50%時會用紅字顯示。</span>

