@model IEnumerable<EDIS.Models.AssetKpScheVModel>
@using Newtonsoft.Json
@{
    Layout = null;
    var qry2 = JsonConvert.DeserializeObject<ReportQryVModel>(TempData["qry2"].ToString());
}
<style type="text/css">
    .Sche {
        font-size: 2em;
        color:red;
    }

    .hdtitle {
        margin-top: 5px;
    }

    .docid {
        margin-top: 5px;
        color:green;
        text-decoration:underline;
    }

    .table-hover > tbody > tr:hover {
        background-color: cornflowerblue;
    }

    td {
        min-width: 90px;
        text-align: center;
    }
</style>
<p>
    <a class="btn btn-default" href="@Url.Action("AssetKpScheExcel", qry2)">匯出Excel</a>
</p>
<table class="table table-bordered table-hover"  style="display:block; overflow-x:auto;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelivDptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.May)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dec)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p class="hdtitle">@Html.DisplayFor(modelItem => item.AssetNo)</p>
            </td>
            <td>
                <p class="hdtitle">@Html.DisplayFor(modelItem => item.AssetName)</p>
            </td>
            <td>
                <p class="hdtitle">@Html.DisplayFor(modelItem => item.DelivDptName)</p>
            </td>
            <td>
                <p class="hdtitle">@Html.DisplayFor(modelItem => item.Brand)</p>
            </td>
            <td>
                <p class="hdtitle">@Html.DisplayFor(modelItem => item.Type)</p>
            </td>
            <td>
                <p class="hdtitle">@Html.DisplayFor(modelItem => item.EngName)</p>
            </td>
            <td>
                <p class="Sche">@Html.DisplayFor(modelItem => item.Jan)</p>
                @if(!string.IsNullOrEmpty(item.Jan)){
                <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }           
            </td>
            <td >
                <p class="Sche">@Html.DisplayFor(modelItem => item.Feb)</p>
                @if (!string.IsNullOrEmpty(item.Feb))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche">@Html.DisplayFor(modelItem => item.Mar)</p>
                @if (!string.IsNullOrEmpty(item.Mar))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche"> @Html.DisplayFor(modelItem => item.Apr)</p>
                @if (!string.IsNullOrEmpty(item.Apr))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche">@Html.DisplayFor(modelItem => item.May)</p>
                @if (!string.IsNullOrEmpty(item.May))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche"> @Html.DisplayFor(modelItem => item.Jun)</p>
                @if (!string.IsNullOrEmpty(item.Jun))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche">@Html.DisplayFor(modelItem => item.Jul)</p>
                @if (!string.IsNullOrEmpty(item.Jul))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche"> @Html.DisplayFor(modelItem => item.Aug)</p>
                @if (!string.IsNullOrEmpty(item.Aug))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche">@Html.DisplayFor(modelItem => item.Sep)</p>
                @if (!string.IsNullOrEmpty(item.Sep))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche">@Html.DisplayFor(modelItem => item.Oct)</p>
                @if (!string.IsNullOrEmpty(item.Oct))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche"> @Html.DisplayFor(modelItem => item.Nov)</p>
                @if (!string.IsNullOrEmpty(item.Nov))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
            <td>
                <p class="Sche">@Html.DisplayFor(modelItem => item.Dec)</p>
                @if (!string.IsNullOrEmpty(item.Dec))
                {
                    <a class="docid" href="@Url.Action("Views", "Keep", new { Area = "BMED", id = item.DocId })" target="_blank">@Html.DisplayFor(modelItem => item.DocId)</a>
                    <p class="hdtitle">@Html.DisplayFor(modelItem => item.EDate)</p>
                }
            </td>
        </tr>
    }

</table>
