@model EDIS.Models.ReportQryVModel

@using Microsoft.AspNetCore.Identity
@using EDIS.Models.Identity

@inject CustomUserManager UserManager

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
}
<script src="~/js/BMED/Report.js" asp-append-version="true"></script>

<script>
    $(function () {
        $('#BtnQry').click(function () {
            fetchPage(1);
        });
    });
    // Use ajax to fetch page.
    var fetchPage = function (page) {
        var pagedPartialUrl = '@Url.Action("FinishRateKeepIndex", "Report", new { Area = "BMED" })';
        var s = $('#BMEReportForm').serialize();
        $.Toast.showToast({
            'title': '查詢中，請稍待...',
            'icon': 'loading',
            'duration': 0
        })
        $.ajax({
            url: pagedPartialUrl,
            type: "POST",
            data: s + "&page=" + page,
            success: function (data) {

                window.location.hash = page;

                $('#pnlREPORT').html(data);

                $('#pnlREPORT .pagination li a').each(function (i, item) {
                    var hyperLinkUrl = $(item).attr('href');
                    if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                        var pageNumber = $(item).attr('href').replace(pagedPartialUrl + '?page=', '');
                        $(item).attr('href', '#').click(function (event) {
                            event.preventDefault();
                            $(event.target).attr('href');
                            fetchPage(pageNumber);
                        });
                    }
                });
                $.Toast.hideToast();
            },
            error: function (data) {
                alert(data.responseText);
                $.Toast.hideToast();
            }
        });
    };
</script>

<h2>統計報表</h2>

<form asp-action="FinishRateKeepIndex" asp-controller="Report" asp-area="BMED" data-ajax="true" id="BMEReportForm"
      data-ajax-update="#pnlREPORT" data-ajax-method="POST"
      data-ajax-begin="$.Toast.showToast({
      'title':'查詢中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-success="smgREPORT"
      data-ajax-failure="onFailed"
      data-ajax-complete="$.Toast.hideToast()">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ReportClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReportClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReportClass, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SendYm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SendYm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SendYm, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (UserManager.IsInRole(User, "MedAssetMgr") || UserManager.IsInRole(User, "MedMgr"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.Location, ViewData["Location"] as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (ViewData["UserLoc"].ToString() == "總院")
        {
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    @Html.RadioButton("Building", "L", true) 總院
                    @Html.RadioButton("Building", "P") 兒童醫院
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsProgress) 累進
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="查詢" class="btn btn-default" id="BtnQry" />
            </div>
        </div>
    </div>


</form>

<hr />
<div id="pnlREPORT">

</div>