@model EDIS.Models.ReportQryVModel
@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
}
<script src="~/js/BMED/Report.js" asp-append-version="true"></script>

<link href="~/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/js/bootstrap-combobox.js"></script>

<script>
    $(function () {
        $('.combobox').combobox();

        $("#AssetClass1").click(function () {
            if ($("#AssetClass1").prop("checked")) {
                $("#AssetClass2").prop("checked", false);
            } else {
                $("#AssetClass2").prop("checked", true);
            }
        })
        $("#AssetClass2").click(function () {
            if ($("#AssetClass2").prop("checked")) {
                $("#AssetClass1").prop("checked", false);
            } else {
                $("#AssetClass1").prop("checked", true);
            }
        })
    });
</script>

<h2>統計報表</h2>

<form asp-action="Index" asp-controller="Report" asp-area="BMED" data-ajax="true"
      data-ajax-update="#pnlREPORT" data-ajax-method="POST"
      data-ajax-begin="$.Toast.showToast({
      'title':'查詢中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-success="smgREPORT"
      data-ajax-failure="onFailed"
      data-ajax-complete="$.Toast.hideToast()">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ReportClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReportClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReportClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "設備類別", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="AssetClass1" id="AssetClass1" type="checkbox" value="醫療設備" checked="checked" />醫療設備
                <input name="AssetClass2" id="AssetClass2" type="checkbox" value="工程設施" />工程設施
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input asp-for="Sdate" type="date" class="form-control" />
                @Html.ValidationMessageFor(model => model.Sdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input asp-for="Edate" type="date" class="form-control" />
                @Html.ValidationMessageFor(model => model.Edate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AccDpt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.AccDpt, ViewData["ACCDPT"] as SelectList, new { @class = "form-control combobox" })
                @Html.ValidationMessageFor(model => model.AccDpt, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="pnlASSETNO" class="form-group">
            @Html.LabelFor(model => model.AssetNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssetNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssetNo, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.ReportClass == "零件帳務清單")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.StockName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StockName, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入關鍵字" } })
                    @Html.ValidationMessageFor(model => model.StockName, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="查詢" class="btn btn-default" />
            </div>
        </div>
    </div>

</form>

<hr />
<div id="pnlREPORT">

</div>