@model IEnumerable<EDIS.Models.MonthKeepVModel>
@using Newtonsoft.Json
@{
    Layout = null;
    var qry = JsonConvert.DeserializeObject<ReportQryVModel>(TempData["qry"].ToString());
}

<p>
    <a class="btn btn-default" href="@Url.Action("ExcelMK", qry)">匯出Excel</a>
</p>
<h3>*[申請(出單)日]為條件</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccDpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cycle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngNam)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocId)
            </td>
            <td>
                @item.SentDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @if (@item.EndDate != null)
                {
                    @item.EndDate.Value.ToString("yyyy/MM/dd")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetNo)<br />
                @Html.DisplayFor(modelItem => item.AssetNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccDpt)<br />
                @Html.DisplayFor(modelItem => item.AccDptNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngNam)
            </td>
        </tr>
    }

</table>
