@model X.PagedList.IPagedList<EDIS.Models.MonthFailRateVModel>

@using Newtonsoft.Json;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@{
    Layout = null;
    var qry = JsonConvert.DeserializeObject<ReportQryVModel>(TempData["qry"].ToString());
}

<p>
    <a class="btn btn-default" href="@Url.Action("MonthFailRateExcel", qry)">匯出Excel</a>
</p>


<table class="table" id="tbFailRate">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.AssetNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cname)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CustId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CustNam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RepairAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PlantAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FailRate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AssetNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cname)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CustId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FailRate)
            </td>
        </tr>
    }

</table>

<div>
    @Html.PagedListPager(Model,
     page => Url.Action("Index", new { page = page, ReportClass = "月故障率統計表" }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>