@model X.PagedList.IPagedList<EDIS.Models.ScrapAsset>

@using Newtonsoft.Json;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;

@{
    Layout = null;
    var qry = JsonConvert.DeserializeObject<ReportQryVModel>(TempData["qry"].ToString());
}

    <p>
        <a class="btn btn-default" href="@Url.Action("ExcelScrapAssetList", qry)">匯出Excel</a>
    </p>

@*<script src="~/js/HtmltoExcel.js"></script>

<input id="exportExcel" type="button" value="匯出Excel" class="btn btn-default"
       onclick="javascript:exportExcel('tbToExcel')" />*@


<table class="table" id="tbToExcel" style="display:block; overflow-x:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DocId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AccDpt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AccDptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Amt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AssetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AssetNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TroubleDes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DealState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DealDes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EngName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RepType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CloseTicketDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FlowDptUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FlowDptAcceptTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MedMgr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MedMgrAcceptTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.DocId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DptId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccDpt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccDptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TroubleDes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DealState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DealDes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseTicketDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlowDptUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlowDptAcceptTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedMgr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedMgrAcceptTime)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.PagedListPager(Model,
     page => Url.Action("Index", new { page = page, ReportClass = "列管報廢清單" }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
